/* Paleta de cores
003049
D62828
F77F00
FCBF49
EAE2B7
*/

* {
}
span{
  text-decoration: none;
}
body {
  background-color: #eae2b7;
}
h1 {
  color: #003049;
  text-align: center;
  background: #f77f00;
}
h2 {
  background-color: #f77f00;
  color: #003049;
  }
h3 {
  background-color: #d62828;
}
footer{
  position: fixed;
}
