/* Paleta de cores
003049
D62828
F77F00
FCBF49
EAE2B7
*/

* {
  margin: 0;
  padding: 0;
}
header {
  color: #003049;
  text-align: center;
  background: #fcbf49;
  margin-bottom: 24px;
}
span {
  text-decoration: none;
}
body {
  background-color: #eae2b7;
}
section img {
  border-radius: 24px;
  margin-bottom: 24px;
}
section {
  align-items: center;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 16px;
  text-align: center;
  font-weight: 600;
  word-spacing: 1px;
  background: #f77f00;
  margin: 16px auto;
}
h2 {
  background-color: #fcbf49;
  color: #003049;
  text-align: center;
  margin: 25px auto;
  border-radius: 7px;
  font-size: 32px;
  width: 180px;
 }
.texthabilidades{
  margin: auto;
  width: 380px;
  border-radius: 16px;
  text-align: center;
  }
  .texthabilidades ul{
    list-style-type: none;   
    margin: auto;
  }

